/* fonts */
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-VariableFont.ttf") format("truetype");
}

/* base.html */


html {
    height: 100%;
    background: #E5E4E2;
}

body {
    margin: 0px;
    height: 100%;
}

h1 {
    font-family: "Roboto";
    font-weight: 500;
}

p {
    font-family: "Roboto";
    font-weight: 300;
}

a {
    color: #238636;
}

hr {
    width: 70%;
    weight: 5px;
}

.center-h {
    font-size: 48px;
    text-align: center;
    margin-bottom: 35px;
}

.colorful-text {
    color: #238636;
}

main {
    margin: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}


.navbar {
    background-color: #fff;
    box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    position: fixed; top: 0; left: 0; width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.navbar ul{
    list-style-type: none;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 30px;
    overflow: hidden;
}


.navbar a {
    text-decoration: none;
    display: block;
    text-align: center;
    color: black;
    transition: ease .2s;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 500;
    margin-left: 20px;
}

.navbar a:hover {
    color: #238636;
}

.navbar li{
    float: left;
}


.footer {
    flex: 0 0 auto;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
    margin-top: 0px;
    background-color: #474A51;
    color: #fff;
}


.footer ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    padding-left: 20px;
    padding-top: 25px;
    padding-bottom: 10px;
    overflow: hidden;
    text-align: center;
}

#logo {
    padding-left: 20px;
    width: 200px;
    margin-top: 17px;
}

.digital-wind {
    margin-top: 5px;
    margin-left: auto;
    margin-right: 50px;
    font-size: 15px;
}

.main_button {
    color: white;
    background: #238636;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    border: none;
}

.main_button:hover {
    background: #299e40;
}

.contact img {
    height: 18px;
    margin-right: 3px;
}

.contacts_footer {
    margin-left: 50px;
    margin-top: 5px;
    font-size: 18px;
}

.contacts_footer img {
    height: 21px;
    margin-right: 4px;
}

/* content */

.content {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 50px 300px 50px;
}

.content-block {
    padding: 15px 0px 15px 25px;
    margin-top: 20px;
    box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background: #fff;
}


.author-name {
    font-size: 20px;
    font-weight: 700;
    color: black;
}

.author-name a {
    font-size: 20px;
    font-weight: 700;
    color: black;
    text-decoration: none;
}

.author-name a:hover {
    color: #238636;
    text-decoration: underline;
}

.post-date {
    margin-top: -20px;
    font-size: 14px;
    color: #818c99
}

.post-title {
    font-size: 20px;
    font-weight: 500;
}

.post {
    margin-right: 20px;
}

.post-tags {
    display: flex;
    margin-right: 5px;
}

.post-tags a {
    border: 2px solid #299e40;
    border-radius: 6px;
    color: #299e40;
    margin-right: 7px;
    padding: 5px;
}

.search-block {
    padding: 15px 0px 15px 25px;
    margin-top: 20px;
    box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background: #fff;
}

.search-block button {
    border: none;
    padding: 7px 13px 9px 13px;
    font-size: 16px;
}

.search-block input {
    width: 90%;
    border: none;
    outline: none;
}

form {
    padding-top: 5px;
}

.create-input {
   width: 70%;
   font-size: 20px;
   outline: none;
   border: 2px solid #A5A5A5;
   border-radius: 4px;
   padding: 4px;
   margin-bottom: 5px;
}
.create-input:focus {
    border: 2px solid #238636;
}

.create-text {
    resize: none;
    width: 70%;
    height: 400px;
    font-size: 20px;
    outline: none;
    border: 2px solid #A5A5A5;
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 5px;
}

.create-text:focus {
    border: 2px solid #238636;
}
#send {
    margin-top: 10px;
    margin-bottom: 10px;
}

#DW {
    width: 200px;
}
/* Адаптивная верстка под ноутбуки */


@media screen and (max-width: 1300px) {
    #logo {
        width: 200px;
        margin-top: 17px;
    }
}