{% extends 'base.html' %}

{% block content %}
<div class="content" style="background: #fff;">
    <h1>Информация для жюри конкурса Цифровой Ветер</h1>
    <h2>Общая информация</h2>
    <p class="post">
        FriendsHab - площадка, на которой ты можешь выложить свою идею/проект, оставив контакты для связи, чтобы найти себе напарника или целую команду. Или же наоборот присоединиться к чьему-то проекту. Тем самым контент на сайте всегда будет обновляться.
<br><br>
Стоит отметить, что многие элементы на странице кликабельные, такие как имя автора или теги под постом.
    </p>
    <h2>Техническая информация</h2>
    <p class="post">
        Проект реализован на Python, Flask, SQLAlchemy, HTML, CSS, JavaScript. Реализовано: собственный дизайн, система профилей, система работы с постами (создание, хранение, обработка и вывод), система поиска по тегам и тп.
<br><br>
Всё реализовано лично мной, пока на данный момент, единственным разработчиком проекта.<br>
                Участник конкурса, Сорокин Арсений.
    </p>
</div>
{% endblock %}