{% extends 'base.html' %}

{% block content %}
        <div class="content">
            <div class="search-block">
                <form action="" method="get">
                    <input name="search" placeholder="Найти по тегу..." type="search">
                    <button type="submit" class="main_button">найти</button>
                </form>
            </div>
            <div class="content-block">
                <div class="content-author">
                    <p class="author-name">Лавлинская Алина</p>
                    <p class="post-data">12.02.23 - 14:44</p>
                </div>
                <p class="post-title">Разнообразие и адаптация животных Саратовской обл.</p>
                <p class="post">
                    Привет! Я решила сделать проект по зоологии, чтобы исследовать разнообразие животных в нашем регионе и узнать, как они приспосабливаются к разным условиям. Планирую провести наблюдения в природе, почитать литературу и даже пообщаться с экспертами. В итоге хочу создать красивый каталог с фотографиями и интересными фактами о каждом животном. А еще сделаю классную презентацию для всех нас — думаю, будет интересно!
                </p>
                <div class="post-tegs"><a>зоология</a> <a>биология</a> <a>саратовская облать</a></div>
            </div>

            <div class="content-block">
                <div class="content-author">
                    <p class="author-name">Никитин Михаил</p>
                    <p class="post-data">9.01.23 - 20:54</p>
                </div>
                <p class="post-title">To-Do-шка</p>
                <p class="post">
                   Привет! У меня есть интересная идея для проекта по IT. Я хочу разработать веб-приложение, которое поможет школьникам планировать своё время и управлять учебными задачами. Оно будет включать календарь, список дел и систему напоминаний. Пользователи смогут добавлять задания, устанавливать сроки выполнения и получать уведомления о приближающихся дедлайнах. Это должно облегчить учёбу и помочь лучше организовать своё время. Планирую использовать такие технологии, как Python и Django для бэкенда и React для фронтенда. Надеюсь, получится полезный инструмент!
                </p>
                <div class="post-tegs"><a>IT</a> <a>тайм-менежмент</a></div>
            </div>

            <div class="content-block">
                <div class="content-author">
                    <p class="author-name">Софья Лабунова</p>
                    <p class="post-data">17.05.22 - 15:28</p>
                </div>
                <p class="post-title">Одиночество - не приговор!</p>
                <p class="post">
                    Привет! Я решила заняться социальным проектом, который направлен на помощь пожилым людям в нашем районе. Многие из них чувствуют себя одинокими, особенно сейчас, когда общение ограничено. Моя идея заключается в создании волонтерской группы, которая будет регулярно навещать пенсионеров, помогать им с повседневными делами и просто проводить время вместе. Мы могли бы организовывать небольшие праздники, мастер-классы или даже виртуальные экскурсии, используя технологии. Думаю, это поможет сделать жизнь пожилых людей ярче и комфортнее.
                </p>
                <div class="post-tegs"><a>социальный проект</a> <a>волонтерство</a></div>
            </div>

        </div>{% endblock %}