{% extends 'base.html' %}

{% block content %}
<div class="content" style="background: #fff;">
    <h1>Войдите</h1>
    <form method="post">
        <input placeholder="E-mail" type="text" name="email" autocomplete="off" id="login" class="create-input"><br>
        <input placeholder="Пароль" type="password" name="password" autocomplete="off" id="password" class="create-input"><br>
        <input type="submit" id="send" class="main_button" value="Войти">
    </form>
    <a href="/register">Ещё нет аккаунта? Зарегистрируйтесь!</a>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class=flashes>
        {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
</div>
{% endblock %}