{% extends 'base.html' %}

{% block content %}
<div class="content" style="background: #fff;">
    <h1>Зарегистрируйтесь</h1>
    <form method="post">
        <input placeholder="Email" type="text" autocomplete="off" name="email" id="email" class="create-input"><br>
        <input placeholder="Имя" type="text" autocomplete="off" name="name" id="name" class="create-input"><br>
        <input placeholder="Фамилия" type="text" autocomplete="off" name="surname" id="surname" class="create-input"><br>
        <input placeholder="Профиль телеграмм" type="text" autocomplete="off" name="tg" id="tg" class="create-input"><br>
        <input placeholder="Пароль" type="password" autocomplete="off" name="password" id="password" class="create-input"><br>
        <input placeholder="Повторите пароль" type="password" autocomplete="off" name="password_retype" id="password_retype" class="create-input"><br>
        <input type="submit" id="send" class="main_button" value="Зарегистрироваться">
    </form>
    <a href="/login">Уже есть аккаунт? Войдите!</a>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class=flashes>
        {% for category, message in messages %}
            <p class="{{ category }}">{{ message }}</p>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
</div>
{% endblock %}